<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Todo list</title>
    <link type="text/css" href="media/css/ui-lightness/jquery-ui-1.8.23.custom.css" rel="stylesheet" />
    <link type="text/css" href="media/css/bootstrap-responsive.min.css" rel="stylesheet" />
    <link type="text/css" href="media/css/bootstrap.min.css" rel="stylesheet" />
    <link type="text/css" href="media/css/style.css" rel="stylesheet" />
    <script type="text/javascript" src="media/js/jquery-1.8.2.min.js"></script>
    <script type="text/javascript" src="media/js/jquery-ui-1.8.23.custom.min.js"></script>
    <script type="text/javascript" src="media/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="media/js/body.js"></script>
</head>
<body>

<div class="container">

    <input id="username" name="username" value="{{ Author }}" placeholder="Имя пользователя" />
    <h1>ToDo Lists!</h1>

    <form class="makeNew">
        <p>Добавить: <input id="makeNewInput" style="width:500px;"></p>
    </form>

    <hr id="afterThis" />

    {% block content %}{% endblock %}

</div>

</body>
</html>
