<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Todo list</title>
    <link rel="stylesheet" href="/media/css/style.css">
    <script src="/media/js/jquery-1.8.2.min.js"></script>
    <script src="/media/js/underscore.js"></script>
    <script src="/media/js/backbone.js"></script>

    <script src="http://todo.dev:8080/socket.io/socket.io.js"></script>

    <script src="/media/js/app-skeleton.js"></script>
    <script src="/media/js/todo.js"></script>
    <script src="/media/js/todo.Project.js"></script>
    <script src="/media/js/todo.Task.js"></script>
    <script src="/media/js/todo.online.js"></script>
    <script src="/media/js/todo.chat.js"></script>
    <script src="/media/js/app.js"></script>
</head>
<body class="hideReady">

<div class="container">

    <button id="showingReady">Показывать все</button>
    <form action="save.php" class="makeNew" method="POST">
        <h1>ToDo Lists!</h1>
        <p>Автор: <input id="username" name="author" value="{{ Author }}" placeholder="Имя пользователя" /><br>
            Задача: <input id="makeNewInput" name="text" style="width:600px;"><br>
            Проект: <input id="makeNewProject" type="text" name="project" value="Fabrica" style="width: 300px;"><br>
            <button type="submit">Отправить</button>
        </p>
    </form>

    <hr>

    {% block content %}{% endblock %}

</div>

<div class="chat">
    <div class="chat_container">

    </div>
    <div class="chat_new">
        <input type="text" id="chat_send" placeholder="Сообщение в чат" />
    </div>
</div>

</body>
</html>
